@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic);
#header h1{
  font-family: 'Roboto', sans-serif;
  font-size : 3em;
  font-weight:200;
}

#header img{
  width: 5%;
  height: 5%;
  float: left;
}

#header {
  display:inline;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  background: #fff;
  padding: 0 45px 20px;
}
#mswant{
  float:left;
  width: 100%;
}

#indent{
  font-family: "Roboto";
  font-weight:300;
  font-size:0.9em;
  line-height:1.6em;
  text-indent: 25px;
}

#assignments p{
  font-family: "Roboto";
  font-weight:300;
  font-size:0.9em;
  line-height:4em;
}

h2 {
  font-family: "Roboto";
  font-weight:300;
  font-size:2.5em;
  text-align: left;
}

h3 {
  font-family: "Roboto";
  font-weight:300;
  font-size:1.5em
}

#assignments h4{font-family: "Roboto";
  font-weight:500;
  font-size:1em
  word-wrap: break-word;
}

nav{
  white-space:pre;
}
nav a{
  font-family: "Roboto";
  font-weight:300;
  font-size:1em;
  text-decoration: none;
  color: #777;
}

p a{
  font-family: "Roboto";
  font-weight:300;
  font-size:1em;
  text-decoration: none;
  color: #777
}

p a:hover{
  font-family: "Roboto";
  font-weight:300;
  font-size:1em;
  text-decoration: none;
  color: rgb(44,96,34)
}

footer{
  font-family: "Roboto";
  font-weight:300;
  font-size:0.7em;
  text-decoration: none;
  color: #777
}

figcaption{
  font-family: "Roboto";
  font-weight:300;
  font-size:0.8em;
  text-decoration: none;
  color: #555
}
#curriculum th{
  height: 80px;
  border: 1px black solid;
}

tr{
  text-align: center;
}

#curriculum td{
  height: 80px;
  border: 1px black solid;
}

#curriculum table{
  font-family: "Roboto";
  font-weight:300;
  font-size:1em;
  line-height:2em;
  border: 1px black solid;
}

div.assign{
  box-shadow: 1px 1px 1px 1px #555;
  z-index: 1;
  }


/*///////////LAYOUT///////////*/

/*fixes*/
* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

/* column that takes up 1/3 of page */
.col-1 {
  width: 32%;
  margin: 2% 0 2% 2%;
  float: left;
}

/*column that takes up 2/3 of page */
.col-2 {
  width: 66%;
  margin: 2% 0 2% 2%;
  float: left;

}
/*column that takes up all of page */
.col-3 {
  width: 100%;
  margin: 2% 0 2% 2%;
  margin-bottom:;
  float: left;
}

/*column that takes up 1/6 of page */
.col-4 {
  width: 15%;
  margin: 2% 0 2% 2%;
  float:left;
}

.first {
margin-left:0%;
}

